body{
    background-color: #098094;
}
#toplogo{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

#bar{
    background-color: transparent;
    border: 0px;
    margin:0 auto;
    position:relative;
    display: inline-block;
    margin-left: 34%;
}

.maintext {
    position: relative;
    color: white; 
    font-weight: 900; 
    font-size: 390%;
    margin-top: 74px;
    margin-left: 201px;
  }
  
.secondarytext{
  color: white;
  position: relative;
}

.img_cont{
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.84) 0%,black 100%);
  height: 635px;
}

#cont1{
  background-image:linear-gradient(#aa7c7c00, #000000c4), url("assets/image1.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 0; 
  padding-top: 500px; 
  margin-top: 0px;
  padding-right: 0px;
}

#cont5{
  background-image:url("assets/image10.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 590px;
  margin-top: 0px;
}

#arrimg{
  background-color: white; 
  border-radius: 50%; 
  border-style: solid; 
  border-width: 1px; 
  width: 56px; 
  height: 56px; 
  border-color: #D14900; 
  padding: 15px;
}

#visitBut{
  background-color: transparent; 
  border-width: 0px; 
  color: white; 
  font-weight: bold;
}

#cont2{
  background-color: #51534A;
  padding-top: 25px;
  padding-bottom: 35px;
  height: 75px;
}

#cont3{
  background-color: white;
  padding-left: 218px;
  padding-top: 88px;
  padding-right: 225px;
  padding-bottom: 66px;

}

#cont3mob{
  background-color: white;
  padding-right: 57px;
  padding-left: 57px;
  padding-top: 88px;
  padding-bottom: 66px;
}

#cont4{
  background-color: white;
  padding-right: 33px;
  padding-left: 33px;
  padding-bottom: 23px;
}


#cont6{
  padding: 130px;
  padding-top: 44px;
  background-color: white;
  margin-top: -5px;
}


#cont2mob{
  background-color: white;
  padding-top: 40px;
  padding-bottom: 114px;
  padding-left: 23px;
  padding-right: 114px;
}

.iconbutton{
  width: 150px;
  height: 27px;
  background-color: transparent;
  border-width: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 90%;
  color: white;
  font-weight: 500;
}

.imgicon{
  height: 27px;
  width: auto;
  margin-right: 13px;
}

#ann{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: white;
  padding-left: 89px;
  font-size: 90%;
}

#viewbut{
  height: 14px;
  width: 180px;
  border:transparent;
  color: #D14900;
  font-weight: bold;
  font-size: 100%;
  background-color: transparent;
}

#infobut{
  background-color: transparent; 
  color: #D14900; 
  border-color: #D14900; 
  border-style: solid; 
  width: 143; 
  margin-top: 40px; 
  height: 30px; 
  width: 144px; 
  border-width: 2px; 
  padding-bottom: 30px; 
  padding-top: 11px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

nav .navbar-nav li a{
    color: white !important;
    font-weight: bold;
}
  
#circlediv{
  height: 410px;
  width: 410px;
  background-color: #098094;
  border-radius: 50%;
  
}

.thumbnail{
  width: fit-content; 
  height: 173px; 
  padding-top: 137px; 
  padding-left: 15px; 
  margin: 0px; 
  background-size: cover;
}

.thumbnailTab{
  width: 200px; 
  height: 111px; 
  padding-top: 68px; 
  padding-left: 26px; 
  margin: 0px; 
  background-size: cover;

}

.thumbnailMob{
  width:fit-content;
  height: 250px; 
  padding-top: 184px; 
  padding-left: 17px; 
  margin: 0px; 
  background-size: cover;
}

#visitButmob{
  margin-left: 320px;
  background-color: transparent; 
  border-width: 0px; 
  color: white; 
  font-weight: bold;
}